.angular/

node_modules/

.vscode/
.idea/

dist/
build/
tmp/
out-tsc/

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

.env
.env.*
.cache/
reference-repo/
src/enviroments/enviroment.ts
src/enviroments/enviroment.prod.ts
!src/enviroments/enviroment.template.ts
